@font-face {
    font-family: 'JingDianXingShuJian';
    src: 
        url('../assets/JingDianXingShuJian.woff2') format('woff2'),
        url('../assets/JingDianXingShuJian.woff') format('woff'),
        url('../assets/JingDianXingShuJian.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html,
body {
    width: 100%;
    background: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    margin: 0;
    overflow: hidden;
}

body, p, input, button {
    font-family: JingDianXingShuJian, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

canvas {
    width: 100%;
    height: 100%;
}

#containerCSS, #containerWebGL {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}

#containerCSS {
    background: #383838;
}

#containerWebGL {
    pointer-events: none;
}

.Button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    /* background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%); */
    background-color:#f9f9f9;
    border-radius:1px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font:sans-serif;
    font-size:24px;
    /* font-weight:bold; */
    padding:18px 34px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    position: relative;
    left:100px;
    top:60px;
    margin-top:20px;
    width:280px;
}
.Button:hover {
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color:#e9e9e9;
}
.Button:active {
    /* position:relative;
    /*top:1px; *!*/
}

.ui{
    z-index: 2;
    width:20%;
    height:100%;
    position:absolute;
}

.frame {
    width: 100%;
    height: 100%;
    position: relative;
}

.welcome-page {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    backdrop-filter: blur(12px);
    background: rgba(155, 155, 155, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.welcome-card {
    background: #ffffff;
    width: 95vw;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 36px;
    padding: 80px 0 20px;
    font-size: 16px;
    box-sizing: border-box;
}

.welcome-card .intro {
    color: #000000;
    padding: 0 115px 0;
    text-align: center;
}

.welcome-card .intro p {
    line-height: 1.6;
}

.welcome-card .controls {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.name-input, .enter-button {
    height: 48px;
    box-sizing: border-box;
    width: 240px;
    text-align: center;
    border-radius: 24px;
    font-size: 148%;
}

.name-input {
    margin: 12px 0;
    border: 1px solid #000;
    color: #000000;
}

.enter-button {
    margin: 12px 0;
    border: 1px solid #000;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .welcome-card {
        padding: 60px 0 16px;
        font-size: 15px;
    }

    .welcome-card .intro {
        padding: 0 12vw 0;
    }
}


@media only screen and (max-width: 450px) {
    .welcome-card {
        padding: 42px 0 16px;
        font-size: 14px;
        max-height: 96vh;
        width: 96vw;
        border-radius: 16px;
    }

    .welcome-card .intro {
        padding: 0 6vw 0;
    }

    .welcome-card .controls {
        padding: 24px;
    }

    .name-input, .enter-button {
        height: 36px;
        width: 180px;
        border-radius: 24px;
        font-size: 125%;
    }

    .name-input {
        margin: 6px 0;
        border: 1px solid #000;
        color: #000000;
    }

    .enter-button {
        margin: 6px 0;
    }
}
